:root {
    --foreground-bg: #0f0a16;
    --foreground-border: #9944ff;
    --backdrop-bg: #0a080f;
    --backdrop-border: #b06bff;
    --text: white;
    --text-light: #d6c3bb;
    --input-bg: #2b1f40;
    --background: linear-gradient(0deg, rgb(98, 150, 76) 0%, rgb(135, 201, 221) 100%);
    --shaded-bg: #2b1f40;
}


* {
    margin: 0;
    padding: 0;
}

thead {
    color: var(--text);
    background-color: var(--shaded-bg);
    border-color: var(--shaded-bg);
    border-radius: 5px;
    border-width: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 1.5em;
}

tr {
    border-style: solid;
    border-radius: 10px;
    border-color: color-mix( in hsl, var(--backdrop-bg), var(--backdrop-border) 15%);
    border-top-width: 1px;
}

th {
    padding: 10px;
    text-align: center;
    border-right: 1px;
    border-color: var(--backdrop-bg);
    border-style: solid;
}

th:last-child {
    border-right: 0px;
    border-style: none;
}

td {
    background-color: color-mix( in hsl, var(--backdrop-bg), var(--backdrop-border) 0%);

    padding:5px;
}
td:nth-child(even) {
    background-color: color-mix( in hsl, var(--backdrop-bg), var(--backdrop-border) 5%);
}

body {
    padding: 0;
    /* margin: 0; */
    color: var(--text);
    background: var(--background);
    background-image: url(https://calamitymod.com/img/devourer-background.png);
    background-attachment:fixed;
    backdrop-filter: blur(7px);
    background-size:cover;
    height: auto;
    height: 100%;
    background-repeat: no-repeat;
    line-height: 1.5;
    font-family: sans-serif;
}

#header {
    position: sticky;
    width: fit-content;
    height: fit-content;
    top: 10px;
    margin: 0px 5px;
    background-color: var(--backdrop-bg);
    border-style: solid;
    border-radius: 10px;
    border-color: var(--backdrop-border);
    border-width: 2px;
}

    #header > * {
        display: inline;
        padding: 5px;
        margin: 5px;
        background-color: var(--foreground-bg);
        border-color: var(--foreground-border);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        color: var(--text);
        appearance: button;
    }

    #header > div:hover {
        background-color: var(--shaded-bg);
    }

    #header > * > a {
        color: var(--text);
        text-decoration: none;
    }

#footer {
    background-color: var(--shaded-bg);
    border-color: var(--foreground-border);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 15px 5px 15px;
}

div#title {
    background-color: var(--backdrop-bg);
    border: var(--backdrop-border);
    margin: 10px auto 10px auto;
    padding: 0px;
    display: flex;
    text-align: center;
    ;
    border-radius: 10px;
    font-size: 2em;
    border-style: solid;
}

#title > * {
    flex-grow: 1;
}

div#FlexContainer {
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px auto;
    border-radius: 10px;
    justify-content:left;
}

@media (min-width:960px) {
    div#title, #FlexContainer {
        max-width: 100%;
    }
}

@media (max-width:960px) {
    div#title {
        max-width: 100%;
    }
}

.label {
    font-size: 0.8em;
}

.itemImg {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.accImg {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
}

.itemWrapper {
    text-align: center;
    width: min-content;
    min-width: 50px;
    color: var(--text-light);
    text-decoration: none;
    text-underline-offset: 5px;
}

.accWrapper {
    text-align: center;
    width: min-content;
    min-width: 40px;
    color: var(--text-light);
    text-decoration: none;
    text-underline-offset: 5px;
    font-size: 14px;
}

.guidewrapper {
    padding: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.guideaccwrapper {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.guidewrapper > * {
    margin-left: 10px;
    margin-right: 10px;
}

.guideaccwrapper > .guidewrapper {
    width: 20%;
    text-decoration: underline;
}

.guideNote {
    font-size: medium;
    margin: 5px
}

.wrapper {
    padding: 3px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reforgewrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.loading-progress {
    position: absolute;
    display: block;
    width: 8rem;
    height: 8rem;
    inset: 20vh 0 auto 0;
    margin: 0 auto 0 auto;
}

.boxTitle {
    text-align: center;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--foreground-border);
    font-size: 1.2em;
}

input {
    max-height: 1em;
    text-align: center;
}


#DividerWrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0;
    height: 100%;
    flex-basis: 70%;
}

#DividerWrapper2 {
    flex-basis: 20%;
}


div#title > * {
    margin: auto;
}

select, button {
    color: var(--text);
    background-color: var(--shaded-bg);
    border-color: var(--shaded-bg);
    border-radius: 5px;
    border-width: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 1.5em;
}

    button:active {
        background-color: var(--input-bg);
        border-color: var(--backdrop-border);
    }

.inputField {
    max-width: 400px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}


.divider {
    background-color: var(--foreground-bg);
    border-color: var(--foreground-border);
    padding: 5px;
    border-style: solid;
    margin: 10px auto;
    max-width: 20em;
    min-width: 17.5em;
    flex-basis: 20em;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-width: 1px;
}

.line {
    height: 0px;
    border-style: solid none none none;
    border-width: 1px;
    border-color: var(--foreground-border);
    margin: 4px;
}

.divider > * {
    margin: 0.25em;
}

.dataoutput {
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--backdrop-bg);
    background-color: var(--backdrop-bg);
    min-height: 1.5em;
    max-width: 400px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

input {
    color: var(--text);
    background-color: var(--backdrop-bg);
    border-style: none;
    border-bottom-style: solid;
    border-color: var(--input-bg);
    border-width: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 1.5em;
}

h1 {
    text-align: center;
}
